
body {
    background-color: #E0FFFF;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.box {
    text-align: center;
    font-size: 30px;
    width: 500px;
    padding: 20px;
    background-color: #87CEFA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 320px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.box1 {
    width: 350px;
    height:600px;
    margin: 50px auto;
    font-size: 24px;
    padding: 20px;
    background-color: #87CEFA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

